@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grid-main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 280px 1fr;
  background-color: white;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#next_pokemon {
  display: block;
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
