:root {
  --height-inputAndButton: 30px;
}

#search-main {
  display: flex;
  background-color: var(--color-darkgray);
}

#search-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 98vh;
  margin: auto;
  padding-top: 10px;
  border-radius: 20px;
  align-items: center;
  background-color: var(--color-darkred);

  form {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    width: 90%;
  }

  input[type="text"] {
    padding-left: 5px;
    height: var(--height-inputAndButton);
    font-size: 15px;
    width: 90%;
  }

  button[type="submit"] {
    font-size: 1em;
    color: white;
    background-color: var(--color-darkturquesa);
    border: none;
    height: var(--height-inputAndButton);
    width: 50px;
  }

  button[type="submit"]:hover {
    cursor: pointer;
  }
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-container {
  margin: 5px 5px 0 5px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  background-color: var(--color-red);
  padding: 5px;
  border: 2px solid black ;
  border-radius: 20px;
}

.search_button {
  width: 75%;
  height: 35px;
  font-size: 1.2em;
  margin: 5px 0 5px 0;
  border-radius: 15px;
  background-color: var(--color-red);
  border: 2px solid black;
  color: white;
  font-weight: bold;
}

.search_button:hover {
  cursor: pointer;
  background-color: #db353e;
}



.previous, .next {
  background-color: transparent;
  border: none;
  color: var(--color-darkturquesa);
  font-size: 5em;
}

.previous, .next:hover {
  cursor: pointer;
  color: #1e6347;
}